<div class="block-top"></div>
<div class="block-container" style="display: flex;overflow: auto;">
  <div class="block-left"></div>
  <div class="tdy">
    <app-select-squire 
    [handleClass]="'father'"
    [scrollClass]="'tdy'"
    [allData]="squareArray"
    (selectedData)="selectedData($event)"
    >
      <div class="father">
        <div class="child" *ngFor="let item of squareArray">{{item}}</div>
      </div>
    </app-select-squire>
    <div style="height: 500px;background: lightgoldenrodyellow"></div>
  </div>

</div>
